 /* <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 300 to 800 */

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{    
 background-image: url("../images/developer.png"), url("../images/header_bg.png"); 
 background-repeat: no-repeat;
 background-position: top left, bottom right;
 width: 100%;
height: 837px;
left: 0;
right: 0;
top: 0;
bottom: 3419px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px 0px;
}
.dark-2{
    color: rgb(71, 71, 71);
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul li a{
    list-style: none;
    text-decoration: none;
}
.nav-primary{
    display: flex;
    gap: 20px;
    border: none;
    align-items: center;

}
.btn-primary{
    
    border: none;
    color: white;
    padding: 18px 35px;
    font-size: bold;
width: 150px;
height: 64px;
top: 50px;
bottom: 50px;
border-radius: 5px;

background: rgb(253, 110, 10);
}
.nav-title{
font-family: Open Sans;
width: 121px;
height: 61px;
font-size: 45px;
font-weight: 800;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
.primary-nav-title{
    color: rgb(253, 110, 10);
}
.bannar{
    display: flex;
    margin: 0 38px 230px 0px;
    margin-left: 230px;
}
.bannar-greetings{
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 45px;
font-weight: 600;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
.bannar-title{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 85px;
font-weight: 700;
line-height: 116px;
letter-spacing: 0%;
text-align: left;
}
.bannar-description{
width: 585px;
height: 60px;
color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-top: 20px;
}
.btn{
    align-items: center;
    padding: 18px 19px;
}
.about{
    margin-top: 130px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;

}
.secondary-bg{
    background-color:#FFF8F3;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
     border-radius: 10px;
     padding: 130px 150px;
     text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.about-item{
    margin-right: 50px;

}
.about-description{    
    font-size:20px;
}
.text-center{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px #f6f4f4;
    margin-top: 37px; margin-bottom: 130px;
}
.skill-description{
    width: 201px;
}

/*resumes & experience*/

.resumes{
   text-align: center;
}
.resume-container{
    display: flex;
    gap: 20px;
    align-items: center;
}
.resume-uv-session{
    font-weight: 600px;
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(117, 117, 117);

}
.experience-sub-title{
    font-weight: 600px;
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(117, 117, 117);
}
.resume-description{
    font-weight: 511px;
    color: rgb(117, 117, 117);
}
.experience-description{
    font-weight: 511PX;
    color: rgb(117, 117, 117);
}
.download-btn {
    align-items: center;
    margin: 50px auto;
    font-size: 20px;
    width: 132px;
}

/*footer section*/

footer{
    padding: 130px 230px;
    display: flex;
}
.footer-column{
    display: flex;
    gap: 100px;
}
.footer-description{
    font-weight: 400px;
    margin-top: 20px;
    margin-bottom: 30px;
}
footer input[type="text"], input[type="email"], textarea{
    height: 64px;
    border-radius: 5px;
    color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}